@using Microsoft.AspNet.Identity
@using WebApplication1.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        var db = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
        @Html.AntiForgeryToken()

 


    

<ul class="nav navbar-nav">
    @if (CurrentUser.UserType == "Admin")
    {
        <li>
            <a href="~/Home/Index">
                <i class="glyphicon glyphicon-home"></i>
                HOME
            </a>
        </li>



        <li>
            <a href="~/Account/ListUser">

                <i class="glyphicon glyphicon-user"></i>
                User
            </a>
        </li>

        <li>
            <a href="~/Jobs/Index">
                <i class="glyphicon glyphicon-plus"></i>
                Posts page
            </a>
        </li>


        <li>
            <a href="~/Account/EditProfile">
                <i class="glyphicon glyphicon-plus"></i>
                Profile
            </a>
        </li>




    }
    else
    {
        <ul class="nav navbar-nav">
            <li>
                <a href="~/Home/Index">
                    <i class="glyphicon glyphicon-home"></i>
                    HOME
                </a>
            </li>


 





        </ul>
    }

</ul>
 
   


     

 




    }
}
